/*main styles*/

body{
background-color: rgba #000000;
    background-image: url("../images/background.jpg");
        background-size: cover;

}

header {
    width: 800px;
    border: 1px black dotted;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
    

main{
    width:800px;
    border: 1px black dotted;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    }

footer{
    width:800px;
    border: 1px black dotted;
    margin: 0 auto;
    background-color: white;
    }
/* text style start*/
h1 {
	    font-size: 100px;
	    font-family: cursive;
	    color: darkgray;
	    text-align: center;
	}

li{
    display: inline;
    padding: 10px;
    margin-right: 20px;
    border: solid #00ffeb 1px;
    border-radius: 5px;
}
ul {
list-style-type: none;
}
/*this is to add border on my list*/

	
p{
    font-size: 72px;
    font-family: "Arial";
    color: darkblue;
    }
p, li, a {
	    font-size: 36px;
	    font-family: "Arial", sans-serif;
	    color: darkblue;
    
	}
	
#para {
    background-color: red; 
}
a{
    font-size: 36px;
    font-family: "Arial", sans-serif;
}
/*text style end*/
/* image style start*/
#intro-image {
    text-align: center;
}
#intro-image {
    opacity: .25;
    border-radius: 50%;
}
#intro-image img{
width: 500px;
border-radius: 50px;
}
/*opacity 0 means completely invisible.used for making nice.*/
#intro-image #square {
    border-radius: 50%;
    opacity: .25;
}
/* anchor pseudo class*/
a:link {
    color: pink;
    text-decoration: underline;
}


a:visited {
    color:fuchsia;
}
a:hover {
    color: red;
}

a: active{
    color: yellow;
}
li {
    font-size: 36px;
    font-family: "Arial", sans-serif;
    color: darkblue;
}


